body {
    margin: 0;
    font-family: "Arial", serif;
    font-size: 16px;

}

.text-white {
    color: white;
}

.text-gray,
.card-btn,
.aside-header
{
    color: #464646;
}

.text-muted,
.card-body-description {
    color: #ABABAB;
}

.shadow, .card__shadow {
    box-shadow: 3px 4px 20px 0 rgba(60, 60, 60, 0.58);
}

.container {
    margin: 0 3rem;
}

/* navigation if header */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    background-color: #37ABFF;
}

.nav-logo {
    font-size: 1.5rem;
}

.nav-avatars {
    display: inline-flex;
    margin: 5px 0;
}

.nav-avatar {
    height: 50px;
    width: 50px;
    background-color: #59B9FF;

    margin: 0 15px;
}

.nav-avatar__rounded {
    border-radius: 50%;
}

.aside {
    background-color: #EDEDED;
}

.aside-header {
    padding: 0 2rem;
    font-size: 1.1em;
    margin: 36px 0 24px;
}

.aside-menu {
    display: flex;
    flex-direction: column;
}

.aside-menu-item {
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
}

.aside-menu-item.active {
    background-color: #DCDCDC;

}

.content {
    background-color: white;
    margin: 20px 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.content-btn-next {
    width: 15rem;
    padding: 17px;

    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    background-color: #37ABFF;


    border: none;
    outline: none;

    cursor: pointer;

    margin: 20px;
}

.content-btn-next:active {
    background-color: #328cd6;
}

.content-btn-next__rounded {
    border-radius: 10px;
}

.content-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 12px;

    width: 18rem;
    height: 23rem;

    background-color: #F3F3F3;

}

.card__rounded {
    border-radius: 10px;
}

.card__rounded .card-btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card__rounded .card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-img {
    width: 100%;
    height: 100%;

}

.card-body {
    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.card-body-header {
    font-size: 1.1em;

    margin-top: 5px;
}

.card-body-description {
    font-size: .7em;
    margin: 8px 0;
}

.card-body-text {
    margin: 5px 0 10px 0;
    font-size: .8rem;

}

.card-btn {
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    background-color: #DCDCDC;

    font-weight: bold;
}

.footer {

    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 17px 40px;

    bottom: -1px;

    background-color: #3C3C3C;

    font-size: 0.9rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, auto);
}

.col-2 {
    grid-column: span 2;
}

.col-1 {
    grid-column: span 1;
}

.col-3 {
    grid-column: span 3;
}

.col-9 {
    grid-column: span 9;
}

.col-6 {
    grid-column: span 6;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

@media all and (max-width: 580px) {
    .nav {
        flex-direction: column;
        padding: 0;
    }

    .container {
        margin: 0;
    }

}

@media all and (min-width: 1200px) {
    .col-xl-2 {
        grid-column: span 2;
    }

    .col-xl-1 {
        grid-column: span 1;
    }

    .col-xl-3 {
        grid-column: span 3;
    }

    .col-xl-9 {
        grid-column: span 9;
    }

    .col-xl-10 {
        grid-column: span 10;
    }

    .col-xl-11 {
        grid-column: span 11;
    }

    .col-xl-12 {
        grid-column: span 12;
    }
}